body {
    background-image: url('../img/FondoPrincipal.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#onu-button {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: lightgreen;
    border: 15px solid white;
    font-size: 70px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    position: absolute;
    z-index: 2;
}

#play-button {
    width: 400px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 57%;
    top: 65%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    border-radius: 10px;
}

#play-button:hover {
    background-color: rgba(128, 128, 128, 0.9);
    opacity: 1;
}

#options {
    width: 400px;
    height: 70px;
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.5s ease;
    text-align: center;
    border-radius: 10px;
}

#options:hover {
    background-color: rgba(128, 128, 128, 0.9);
    opacity: 1;
}